{% extends "base.html" %}

{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{object.image.url}}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>

            <p class="lead">
              {% if object.discount_price %}
              <span class="mr-1">
                <del>&#x20b9;{{ object.price }}</del>
              </span>
              <span>&#x20b9;{{ object.discount_price }}</span>
              {% else %}
              <span>&#x20b9;{{ object.price }}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ object.description }}</p>

            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Remove from cart
            </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>{{object.addinfo}}</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
<!--       <div class="row wow fadeIn">

        Grid column
	{% for item in object_list %}
       

          <img src="{{item.image.url}}" class="img-fluid" alt="">
	{{item.image.url}}

	{% endfor %}
        Grid column

        Grid column
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

        </div>
        Grid column

        Grid column
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

        </div>
        Grid column

      </div> -->

      <!--Grid row-->

    </div>
  </main>

{% endblock content %}
{% block extra_body %}
        <h2> You may also like</h2>
          <div class="row wow fadeIn">     {% for item in items %}
            <div class="col-lg-2 col-md-6 mb-4 align-items-stretch">
     
          
         
<!-- 
            <div class="card" style="width: 25em;">

              <div class="view overlay">
                {% comment %} <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top" {% endcomment %}
                <img src="{{ item.image.url }}" class="card-img" width="90" height="180">
                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>

              </div>

              <div class="card-body text-center">
                <a href="" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                      <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>&#x20b9;
                  {% if item.discount_price %}
                  {{ item.discount_price }}
                  {% else %}
   
                  {{ item.price }}
    
                  {% endif %}
                  </strong>
                </h4>

              </div>

            </div> -->
  
  <div class="card h-100" style="width: 13rem;">
  <img class="card-img-top" src="{{item.image.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" align="center">{{item.title}}</h5>

  </div>
  <ul class="list-group list-group-flush" style="margin:auto">
    <li class="list-group-item" >&#x20b9;{{item.price}}</li>
    
  </ul>
  
</div>

          </div>
          {% endfor %}
        </div>

{% endblock %}